extends layout.pug
block head
  title 利用規約
block content
  .container-fluid
    .row
      .col-md-6.col-md-offset-3
        .page-header
          h1 利用規約
        ul
          li  チンパンジー
          li  ゴリラ
          li  猿
