extends layout.pug
block head
  title PublicChat
  link(href="/timeline.css")
  script(src="/notify.js")
  script(src="https://code.jquery.com/jquery-3.2.1.js")
  script window.jQuery = window.$ = require('jquery');
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
block content
  .container-fluid
    #timeline.row
      .col-md-6.col-md-offset-3
        form(v-on:submit="postToot" style={"text-align":"right"})
            button.btn.btn-info.btn-lg.glyphicon.glyphicon-pencil(type="button" value="submit" style={"margin":"5px"} data-toggle="modal" data-target="#sampleModal" required)
            .modal.fade#sampleModal(tabindex="-1"  style={"text-align":"left"})
              .modal-dialog(style={"margin-top":"150px"})
                .modal-content
                  h4.modal-title メッセージ
                  .modal-body
                    textarea.panel.panel-default.panel-body(type="text" v-model="newToot.body" placeholder="メッセージ" style={"width": "auto","height": "auto"} required)
                  .modal-footer
                    button.btn.btn-default(type="button" data-dismiss="modal") Close
                    button.btn.btn-default(type="submit" required) 送信 
        #toots
          .model-content
            .media.panel.panel-info.panel-body(v-for="toot in toots" style={"background":"lightblue"})
              .media-body.h3
                .pull-right
                  button.btn.btn-default.panel-danger(v-on:click="deleteToot($event,toot.id)")
                    id.glyphicon.glyphicon-trash
                | {{ toot.body }} 
              | {{ toot.created_at.toLocaleString() }}


