extends layout.pug
block head
  title Chat
  link(href="/timeline.css")
  script(src="/notify.js")
  style
    | * {
    |   font-family: Hiragino Maru Gothic ProN;
    | }
    | body {
    |   overflow-y: scroll !important;
    | }
    | .modal-open, .modal {
    |   padding-right: 0px !important;
    | }
    | .form-style{
    |   text-align: right;
    | }
    | .moda;{
    |   text-align: left; 
    | }
    | .modal-dialog{
    |   margin-top:150px ;
    | }
    | .toot-body {
    |   white-space: pre-wrap;
    |   word-break: break-all;
    |   padding-bottom: 10px;
    | }
    | .write {
    |   margin-bottom: 5px; 
    | }
    | .user_name{
    |   color: gray; 
    | }
block content
  .container-fluid
    #timeline.row
      .col-md-6.col-md-offset-3
        form.form-style(v-on:submit="postToot")
            button.btn.btn-success.btn-lg.glyphicon.glyphicon-pencil.write(type="button" value="submit" data-toggle="modal" data-target="#sampleModal" required)
            .modal.fade#sampleModal(tabindex="-1")
              .modal-dialog
                .modal-content
                  .modal-body
                    .form-group.has-success
                      textarea.form-control(type="text" v-model="newToot.body" placeholder="今何してる？" rows="4" required)
                  .modal-footer
                    button.btn.btn-success(type="button" data-dismiss="modal") 閉じる
                    button.btn.btn-success(type="submit" required) 送信 
        #toots
          .model-content
            .media.panel.panel-success.panel-body(v-for="toot in toots")
              .media-header.h4.user_name 
                | {{ toot.nickname }}
              .media-body.h3.toot-body
                | {{ toot.body }}
              button.btn.btn-default.panel-danger.pull-right(v-on:click="deleteToot($event,toot.id)")
                id.glyphicon.glyphicon-trash
              .h5.user_name
                | {{ toot.created_at.toLocaleString() }}



