
extends layout.pug
block head
  title トップページ
  style
    | * {
    |   font-family: Tsukushi B Round Gothic;
    | }
    | .title-text {
    |   padding-bottom: 30px;
    | }
    | .btn-margin {
    |   margin: 20px;
    | }
block content
  .container-fluid
    .row
      .col-md-6.col-md-offset-3
        h1.title-text トップページ 
        a.navbar-brand.btn.btn-success.btn-lg.btn-margin(href="/login") ログイン
        a.navbar-brand.btn.btn-success.btn-lg.btn-margin(href="/signup") サインアップ
        img.img-responsive(src="/logo1.png") 
